.App-header {
  background-color: rgb(255, 255, 255);
  padding: 1px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.App-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


.App-header nav .logo {
  height: 60px;
}

.App-header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.App-header nav ul li {
  display: inline;
  margin-right: 20px;
}
.login {
  padding: 5px;
  background-color: rgb(48, 113, 255);
}

.App-header nav ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.App-footer {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  color: rgb(255, 255, 255);
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-box img{
  height: 100px;
  margin: 30px;
}